APEXA_AI_ENDPOINT=
APEXA_AI_TOKEN=
FRAME_AI_ENDPOINT=
FRAME_AI_TOKEN=
NEXT_PUBLIC_SUPABASE_URL=https://njrbrhkxpsbqehlpcfdy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_U6YCeKfVJaVxQokPzOlZLw_SdXgeAST
